api/java/spring/src/main/resources/platform-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.mico-project.eu/schema/spring/platform"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.mico-project.eu/schema/spring/platform">

    <xsd:element name="mico-platform">
        <xsd:complexType>
            <xsd:attribute name="id" use="required" type="xsd:string"/>
            <xsd:attribute name="host" use="required" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>